body{
  margin:0;
  padding:0;
}
.pageContainer {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  flex: 0 0 200px; 
  background-color: #003f69;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebarTitle {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarList li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 0;
}

.sidebarList li:hover {
  text-decoration: underline;
}

.mainContent {
  flex: 1;
  padding: 0 20px;
}

.header {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.profilePictureSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.imageUpload {
  position: relative;
  width: 300px; /* Increased width */
  height: 300px; /* Increased height */
  margin-bottom: 10px;
  background-color: #DDDDDD;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  border: 2px solid #ddd;
}

.imageEdit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 80%; /* Match the width to make the label centered */
}

.fileInput {
  display: none;
}

.userInfoSection {
  padding: 0 ;
}

.userInfo {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.genderSection {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.genderOptions {
  display: flex;
  gap: 20px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.saveButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.saveButton {
  background-color: #003f69;
  color: #fff;
}

.cancelButton {
  background-color: #DDDDDD;
  color: black;
}

.skip {
  text-align: center;
  margin-top: 20px;
}

.skipButton {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  text-decoration: underline;
}
