.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.leftSection, .rightSection {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.leftSection {
    flex: 1;
}

.rightSection {
    flex: 1;
}